body{
    background-color: floralwhite;
}
.headone{
    text-align: center;
    border: solid;
    width: 100%;
    height: 100px;
    background-color: chocolate;
    border-color: crimson;
    border-width: 10px;
    margin: auto;
}
.headone > h1{
    color: whitesmoke;
}


